.order-summary{
    height: 385px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.products-ordered{
    height: 89%;
    overflow-x: auto;
}
.deleteButton {
width: 22px;
}

table{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.total{
    display: flex;
    justify-content: center;
    column-gap: 40%;
    height: auto;
    font-size: 35px;
  background: #FFAF74;
  border-radius: 0 0 10px 10px;
}

.total-label, .total-sum {
margin: 0px;
padding: 0px;
display: flex;
}
 .success-message, .error-message  {
color: green;
margin: -16px 0 0 0;
font-size: 30px;
}

.error-message {
    color: red;
}

.success-message {
    animation: fadeInOut 2s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }
@media (orientation: portrait) {
    .order-summary{
        height: 400px;
    }
}