<div class="order-summary">
<div class="products-ordered">
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>Product</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
   <tbody>
    <tr *ngFor="let orderedProduct of orderedProducts">
        <td>x{{ orderedProduct.qty}}</td>
        <td>{{ orderedProduct.product?.name }}</td>
        <td>{{ orderedProduct.product?.price }}</td>
        <td><img src="../../../assets/images/dark-gray-delete.png" class="deleteButton" (click)="deleteProduct(orderedProduct)"></td>
    </tr>
   </tbody>
</table>
</div>
<div class="total">
    <p class="total-label"> Total: </p>
    <p class="total-sum"> $ {{totalPrice}} </p>
</div>
</div>
<app-send-order-button (click)="onSendOrderClick()"></app-send-order-button>
<h1 class="alertMessage" *ngIf="alertMessage">{{alertMessage}}</h1>