<div class="order-summary">
<div class="products-ordered">
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
   <tbody>
    <tr *ngFor="let orderedProduct of orderedProducts">
        <td>x{{ orderedProduct.qty}}</td>
        <td>{{ orderedProduct.product?.name }}</td>
        <td>{{ orderedProduct.product?.price }}</td>
    </tr>
   </tbody>
</table>
</div>
<div class="total">
    <p class="total-label"> Total: </p>
    <p class="total-sum"> $ 0.00 </p>
</div>
</div>
<app-send-order-button (sendOrder)="onSendOrderClick()"></app-send-order-button>