.waiter-view-header {
  margin-bottom: 2%;
  padding: 4%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.logoBurgerQueen {
  height: 65px;
  justify-self: center;
}

.title {
  justify-self: start;
  align-self: center;
  font-family: BurguerQueen;
  font-size: 24px;
  margin: 0%;
  color: #EE6A09;
}
app-logout {
  position: absolute;
  margin-left: 90%;
align-self: center;
}