*{
    font-family: 'Patrick Hand', cursive;
}

.containerPrincipal {
display: flex;
flex-direction: row;
place-content: center;
align-items: center;
gap: 20px;
margin: 0 20px;
}

.buttons{
    height: fit-content;
    width: 100%;
    display: flex;
    place-content: center;
    gap: 10px;
}
app-client-name-input {
width: 100%;
height: 55px;
}

/* .btn{
    width: fit-content;
}

app-breakfast-button{
    justify-self: center;
}

app-lunch-and-dinner-button{
    justify-self: center;
} */

.orders{
    height: 450px;
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    align-items: center;
}

.products-container{
    height: 400px;
    width: 100%;
     gap: 20px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px 25px 15px ;
    overflow-y: scroll;
    flex-grow: 1;
    justify-content: center;
}

.order-summary-container{
    height: fit-content;
    width: 40%;
}

app-order-summary {
display: flex;
flex-direction: column;
gap: 20px;
}

/* app-button-orders-status {
    position: absolute;
    margin-left: 5%;
    top: 7%;
  align-self: center;
  } */

@media (orientation: portrait) {
    .containerPrincipal {
        flex-direction: column;
        }
        .orders {
        width: 85%;
        }
        .order-summary-container{
            width: 85%;
            margin-top: 25px;
        }
        .button.circle.small {
            top: 4%;
          }
}