<div class="waiter-view">
    <app-header>
    </app-header>
    
    <app-button-orders-status (click)="viewOrdersStatus()"></app-button-orders-status>
  <div class="containerPrincipal">

    <div class="orders">
        <div class="buttons">
            <app-breakfast-button [isSelected]="isBreakfastSelected"  (selected)="handleBreakfastSelection()"></app-breakfast-button>
            <app-lunch-and-dinner-button [isSelected]="isLunchAndDinnerSelected" (selected)="handleLunchAndDinnerSelection()"></app-lunch-and-dinner-button>
        </div>
        <app-client-name-input></app-client-name-input>
        <div class="products-container">
    <app-products *ngFor="let product of currentMenu" [product] = 'product' >
    </app-products>
        </div>
    </div>
    <div class="order-summary-container">
        <app-order-summary></app-order-summary>
    </div>
  </div>
</div>

