.button-order-status {
border-radius: 100px;
background-color: #EE6A09;
width: 50px;
height: 50px;
border-style: none;
}
.button-order-status:hover {
    box-shadow: 0px 0px 15px 0px #FFFCFC
}

.button-notif{
    width: 60px;
    display: flex;
    flex-direction: column-reverse;

}
img {
width: 100%;
position: relative;
}

p{
    color:  #D9D9D9;
    position: relative;
    bottom:25px; 
}