.orders-delivering-pending {
    padding: 15px 0;
    width: 100%;
    height: 90%;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.order {
    border-radius: 20px;
    width: 90%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
}

h2 {
    width: 50%;
    text-align: center;
}

app-button-delivered {
    width: 100%;
    display: flex;
    place-content: center;
}

.noButton {
    width: 40%;
    height: 50px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    border-radius: 10px;
    background-color: grey;
    color: white;
    border-style: none;
}
