.principal-container {
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 20px;
    font-family: 'Patrick Hand', cursive;
}

app-orders-pending-delivering, app-orders-delivered {
width: 40%;
height: 450px;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px
}


@media (orientation: portrait) {
    .principal-container {
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
        }
        app-orders-pending-delivering, app-orders-delivered {
            width: 70%;
            height: 450px;
        }
            
}