<div class="order-details-container">
   <div class='orderedProducts' *ngIf="showOrder && showOrder.products.length > 0; else noOrderSelected">
    <h3>Ordered Products</h3>
      <ul>
        <li *ngFor="let product of showOrder.products">
        x{{ product.qty }}   {{ product.product?.name }}
        </li>
      </ul>
</div>
<ng-template #noOrderSelected >
  <div class="noOrderSelected">
    <p>No order selected. Please choose an order.</p>
  </div>
</ng-template>
</div>
<app-button-done-kitchen (click)="onButtonDone()"></app-button-done-kitchen>
