@font-face {
    font-family: BurguerQueen;
    src: url(../src/assets/fonts/Sk.otf);
}

html,
body {
    height: 100%;
    margin: 0;
}

app-root,
body {
    width: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

body {
    flex-direction: column;
    height: 100%;
    position: relative;
    background-color: #000;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('./assets/images/fondo-fuego-ardiente-imagen-realista-borde-llama.jpg') 50% / cover no-repeat #000;
    opacity: 0.3;
    z-index: -1;
}