<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authetication</title>
</head>
<body>
    <header>
        <div class="logoHeader">
            <img src="../../assets/images/logo-burguer-queen.png">
        <h1 class="title">Burguer Queen</h1>
    </div>
    </header>
    <div class="containerLogin">
        <h2 class="credentials">Email:</h2>
        <input>
        <h2 class="credentials">Password:</h2>
        <input>
        <button class="credentials">Log In</button>
    </div>
</body>
</html>