<div class='body'>
    <header>
        <img src="../../assets/images/logo-burguer-queen.png" class="logoBurgerQueen">
        <h1 class="title">Burguer Queen</h1>
    </header>
    <div class="containerLogin">
        <h2 class="credentials" type="Email">Email / Username:</h2>
        <input>
        <h2 class="credentials">Password:</h2>
        <input type="password"> <img src="../../assets/images/hide.png" class="eyeHide">
        <button class="credentials">Log In</button>
    </div>
</div>