.body {
  gap: 30px;
}

.logoHeader,
.containerLogin,
.body {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.logoBurgerQueen {
  width: 20%;
}

.title {
  font-family: BurguerQueen;
  font-size: 36px;
  margin: 0%;
  color: #EE6A09;
}

.containerLogin {
  gap: 8px;
  width: 100%;
  align-items: flex-start;
}

.credentials {
  font-family: 'Patrick Hand', cursive;
  font-size: 32px;
  margin: 0%;
  color: white;
}

input {
  width: 96%;
  height: 55px;
  border-radius: 10px;
  background: #D9D9D9;
  padding-left: 15px;
  font-family: 'Patrick Hand', cursive;
  font-size: 26px;
}

.eyeHide {
  width: 2%;
  position: absolute;
  display: flex;
  place-self: end;
  margin-top: 80px;
  margin-right: 10px;
}

button.credentials {
  border-radius: 10px;
  background: #EE6A09;
  width: 100%;
  margin-top: 25px;
  height: 55px;
  border-style: none;
}

button.credentials:hover {
  box-shadow: 0px 0px 15px 0px #FFFCFC;
}

